@import '../../../styles/variables';
@import '../../../styles/mixins';

.title {
    font-family: $font-primary;
    @include font-styles(20px, 27px, -0.4px, 600, $primary-gray);
}

.description {
    font-family: $font-primary;
    @include font-styles(16px, 27px, -0.1px, 400, $primary-gray);
}

.card {
    height: 100%;
    width: 268px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
