@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin font-styles($size, $line-height, $letter-spacing, $weight: 400, $color: inherit) {
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    font-weight: $weight;
    color: $color;
  }