@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/600.css';

$primary-black: #191919;
$primary-red: #EB0A1E;
$primary-gray: #373737;
$secondary-gray: #C5C5C5;
$light-gray: #F7F7F7;
$white-transparent: #FFFFFF8F;
$dark-gray: #4A4A4A;
$black: #000000;
$font-primary: 'Montserrat', sans-serif;
$light-border: #D8D8D8;
$light-gray-bg: rgba(209, 214, 214, 0.2);
$light-gray-bg: #F7F7F7;
$container-padding: 9.3125rem;
$container-padding-mobile: 0.93rem;

