.title {
    width: 699;
    height: 57;
    top: 155px;
    left: 150px;
    // font-family: Montserrat;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1px;
    
}