@import '../../styles/variables';
@import '../../styles/mixins';

$product-image-width: 43.75rem;
$product-image-border-radius: 0.625rem;
$product-max-width: 37.5rem;
$product-max-height-img: 30rem;
$product-detail-gap-mobile: 2.5rem;
$gap-large: 7.375rem;
$gap-medium: 2.3125rem;
$gap-small: 1.5rem;
$title-large: 3.125rem;
$title-medium: 2.25rem;
$title-small: 1.75rem;
$title-mobile: 1.5rem;
$description-font: 1rem;
$description-small: 0.875rem;
$description-mobile: 0.75rem;

.productDetail {
    display: flex;
    gap: $gap-large;
    justify-content: center;
}

.imageContainer {
    width: $product-image-width;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: $product-image-border-radius;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.nameInformation {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
}

.name {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    color: $primary-gray;
    margin-bottom: 0.5rem;
}

.title {
    font-weight: 600;
    font-size: $title-large;
    line-height: 3.5625rem;
    letter-spacing: -0.0625rem;
    color: $primary-gray;
}

.description {
    font-weight: 400;
    font-size: $description-font;
    line-height: 1.6875rem;
    letter-spacing: -0.00625rem;
    color: $primary-gray;
    max-width: $product-max-width;
}

.information {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    justify-content: flex-start;
}

@media (max-width: 1024px) {
    .productDetail {
        flex-direction: column;
        gap: $product-detail-gap-mobile;
    }

    .imageContainer {
        width: 100%;
        height: auto;

        img {
            max-width: 100%;
            max-height: $product-max-height-img;
        }
    }

    .title {
        font-size: $title-medium;
        line-height: 2.625rem;
    }

    .description {
        font-size: $description-small;
        line-height: 1.5rem;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: $title-small;
        line-height: 2.25rem;
    }

    .description {
        font-size: $description-small;
        line-height: 1.375rem;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: $title-mobile;
        line-height: 2rem;
    }

    .description {
        font-size: $description-mobile;
        line-height: 1.25rem;
    }
}
