@import '../../styles/variables';
@import '../../styles/mixins';

.carrouselContainer {
    position: relative;
    padding: 43px 0;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: $light-gray; 
    margin: 0 -9.3125rem;
}

.carouselViewport {
    overflow: hidden;
    width: 111%;
}

.cardsContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.cardWrapper {
    flex-shrink: 0;
    width: 292px;
}

.faded,
.firstCard {
    filter: grayscale(100%) opacity(0.5);
}

.arrow {
    position: absolute;
    top: 30%;
    width: 45px;
    height: 146px;
    z-index: 1000;
    transform: translateY(-50%);
    background: $white-transparent; // Se usa variable modularizada
    border: none;
    cursor: pointer;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

/* PAGINACIÓN */
.pagination {
    display: flex;
    gap: 8px;
    margin-top: 38px;
}

.pageDot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $secondary-gray; 
}

.activePage {
    width: 39px;
    height: 8px;
    border-radius: 4px;
    background-color: $dark-gray; 
    opacity: 0.5;
}
