@import '../../styles/variables';
@import '../../styles/mixins';

.drawer {
    width: 100%;
    height: 100vh;
    background-color: $light-gray;
    position: fixed;
    top: 70px; 
    left: 0;
    transform: translateX(100%);
    z-index: 2000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.slideIn {
    animation: slideIn 0.3s ease-out forwards;
}

.slideOut {
    animation: slideOut 0.3s ease-in forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.optionsWrapper {
    background-color: white;
    padding: 39px 53px 0 32px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.lastOptionWrapper {
    background-color: $light-gray;
    padding-right: 53px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: 2rem;
}

.sections {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 4rem;
}

.optionContainer {
    display: flex;
    flex-direction: column;
}

.line {
    width: 100%;
    height: 0.0625rem;
    background-color: $secondary-gray;
}

.line.last {
    background-color: white;
}

.option {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: -0.00625rem;
    text-align: right;
}

.closeButton {
    background-color: white;
    width: 100%;
    padding-right: 27px;
    display: flex;
    padding-top: 1.12rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.close {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.07rem;
    letter-spacing: 0rem;
}
