.dropdawn {
    position: absolute;
    top: 100%; // Se coloca justo debajo de SortBy
    right: 0;
    width: 10.625rem;
    margin-top: 0.5rem;
    height: auto;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}


.option {
    font-weight: 400;
    font-size: 10px;
    line-height: 35px;
    letter-spacing: -0.1px;

}

.optionContainer {
    width: 100%;
    height: 2.3125rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-bottom: 1px solid #D8D8D8;
    justify-content: flex-start;
    padding: 0 1rem;
}

.optionContainer.active {
    background-color: #D1D6D634;
}