.container {
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D8D8D8;
}

.filterBy {
    // font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.08px;

}

.optionContainer {
    display: flex;
    align-items: center;
    gap: 2.81rem;
}

.option {
    // font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.08px;
    text-align: center;
    height: 1.93rem;
    padding-left: 1.18rem;
    padding-right: 1.18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.12rem;
    cursor: pointer;

}

.filterByOptions {
    display: flex;
    align-items: center;
    gap: 2.81rem;
}

.option.active {
    height: 1.93rem;
    padding-left: 1.18rem;
    padding-right: 1.18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.12rem;
    background-color: #F7F7F7;
}

.filterButton {
    cursor: pointer;
    display: flex;
    gap: 0.42625rem;
    align-items: center;

}
.sortWrapper {
    position: relative; 
}

.arrowIcon {
    transition: transform 0.3s ease;
}

.arrowIcon.rotate {
    transform: rotate(180deg);
}
