@import '../../styles/variables';
@import '../../styles/mixins';

.container {
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light-border;
}

.filterBy {
    font-family: $font-primary;
    @include font-styles(14px, 14px, 0.08px, 600);
}

.optionContainer {
    display: flex;
    align-items: center;
    gap: 2.81rem;
}

.option {
    font-family: $font-primary;
    @include font-styles(14px, 14px, 0.08px, 400);
    text-align: center;
    height: 1.93rem;
    padding: 0 1.18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.12rem;
    cursor: pointer;
}

.filterByOptions {
    display: flex;
    align-items: center;
    gap: 2.81rem;
}

.option.active {
    height: 1.93rem;
    padding: 0 1.18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.12rem;
    background-color: $light-gray-bg;
}

.filterButton {
    cursor: pointer;
    display: flex;
    gap: 0.42625rem;
    align-items: center;
}

.sortWrapper {
    position: relative;
}

.arrowIcon {
    transition: transform 0.3s ease;
}

.arrowIcon.rotate {
    transform: rotate(180deg);
}

@media (max-width: 1200px) {
    .filterByOptions {
        display: none;
    }
}
