.highlightContainer {
    display: flex;
    flex-direction: column;
}

.highlight {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 99px;
    margin-bottom: 55px;
}

/* Alternado en pantallas grandes */
.reversed {
    flex-direction: row-reverse;
}

.leftPadding {
    padding-left: 77px;
}

.rightPadding {
    padding-right: 77px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 13.59px;
}

.imageContainer {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.4px;
    color: #373737;
}

.image {
    border-radius: 6px;
}

.content {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.1px;
    color: #373737;
}

@media (max-width: 1200px) {
    .highlight {
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .image {
        max-width: 100%;
    }

    .highlight {
        flex-direction: column;
        gap: 22px;
    }

    .first {
        flex-direction: column-reverse !important;
    }

    .highlight:nth-child(odd):not(.first) {
        flex-direction: column;
    }

    .highlight:nth-child(even) {
        flex-direction: column-reverse;
    }


}