@import '../../../styles/variables';
@import '../../../styles/mixins';

$highlight-gap: 99px;
$highlight-margin-bottom: 55px;
$highlight-gap-mobile: 22px;
$side-padding: 77px;
$text-gap: 13.59px;
$border-radius: 6px;

.highlightContainer {
    display: flex;
    flex-direction: column;
}

.highlight {
    display: flex;
    align-items: center;
    width: 100%;
    gap: $highlight-gap;
    margin-bottom: $highlight-margin-bottom;
}

.reversed {
    flex-direction: row-reverse;
}

.leftPadding {
    padding-left: $side-padding;
}

.rightPadding {
    padding-right: $side-padding;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: $text-gap;
}

.imageContainer {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: $font-primary;
    @include font-styles(20px, 27px, -0.4px, 600, $primary-gray);
}

.image {
    border-radius: $border-radius;
}

.content {
    font-family: $font-primary;
    @include font-styles(16px, 27px, -0.1px, 400, $primary-gray);
}

@media (max-width: 1200px) {
    .highlight {
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .image {
        max-width: 100%;
    }

    .highlight {
        flex-direction: column;
        gap: $highlight-gap-mobile;
    }

    .first {
        flex-direction: column-reverse !important;
    }

    .highlight:nth-child(odd):not(.first) {
        flex-direction: column;
    }

    .highlight:nth-child(even) {
        flex-direction: column-reverse;
    }
}
