.highlightContainer {
    display: flex;
    flex-direction: column;
}

.highlight {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 99px;
    margin-bottom: 55px;

}

.image {
    border-radius: 6px;
}

.reversed {
    flex-direction: row-reverse;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 13.59px;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    width: 100%;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .highlight {
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .highlight {
        flex-direction: column;
        gap: 22px;

    }

    .first {
        flex-direction: column-reverse !important;
    }

    .highlight:nth-child(odd):not(.first) {
        flex-direction: column;
    }

    .highlight:nth-child(even) {
        flex-direction: column-reverse;
    }

    .imageContainer {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .imageContainer img {
        width: 100%;
        max-width: 560px;
        height: auto;
    }
}