@import "../../styles/variables";
@import "../../styles/mixins";

.container {
    width: 100%;
    height: 70px;
    @include flex-center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid $light-border;
}

.sectionContainer {
    display: flex;
    gap: 4.54rem;
    height: 100%;
    margin-left: 4.81rem;
}

.option {
    @include font-styles(14px, 17.07px, 0px, 600, $primary-black);
    position: relative;
}

.option.active {
    color: $primary-red;
}

.section {
    height: 100%;
    display: flex;
    min-width: 126.08px;
    @include flex-center;
    position: relative;
    cursor: pointer;
}

.section.active::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: $primary-red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.menuContainer {
    display: flex;
    gap: 0.75rem;
}

.logoOptions {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menuIcon {
    cursor: pointer;
}

@media (max-width: 900px) {
    .sectionContainer,
    .menu {
        display: none;
    }

    .menuContainer {
        display: flex;
        align-items: center;
    }

    .logoOptions {
        justify-content: space-between;
    }
}
